@import './index.scss';

.header{
    height:56px;
    box-shadow: 1px 1px 10px #f6f6f6;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: $mainColor;
    min-width: 1200px;
    max-width: 1440px;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    .headLogoImg{
        width: 110px;
        margin-left: 20px;
    }
    .sortList{
        margin-left: 120px;
        display: flex;
        .span{
            margin: 15px;
            cursor: pointer;
            color: $titleColor;
            transition: all 0.1s ease-in-out;
        }
        .span:hover {
            color: #ffffff;
            transform: scale(1.2);
        }
        .spanShow{
            margin: 15px;
            cursor: pointer;
            color: #ffffff;
        }
    }
}