.homeWrap{
    display: flex;
    max-width: 960px;
    width: 960px;
    padding: 0 15px;
    margin:0 auto;
}
.homeRight{
    margin-left: 4.16667%;
    width: 29.16667%;
    margin-top: 30px;
    height: 100%;
}
.homeLeft{
    width: 66.667%;
    padding: 20px;
}