.homeWrap{
    display: flex;
    max-width: 960px;
    width: 960px;
    padding: 0 15px;
    margin:60px auto;
}
.homeContent{
    width: 33.3333%;
    margin-top: 30px;
    height: 100%;
}
.imgHead{
    width: 100%;
    // height: 200px;
}
.imgdiv{
    width: 100%;
    height: 205px;
    overflow: hidden;
}
.Meta{
    width: 100%;
    height: 100px;
}
